<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div *ngFor="let item of data.future.indefinite; let i = index">
      <div *ngFor="let word of item.words; let y = index" class="time-modal-box">
        <input type="text" class='time-input-string' name="text"
          (change)='chengeInput($event, item.words, y)' 
          (keyup.enter)='chengeInput($event, item.words, y)'
          [value]="word">
        <button class="icon-btn add-btn time-modal-button">
          <span class="btn-txt">Kill</span>
        </button>
      </div>
      <a (click)='addSpeech(item.words)'>
        <button class="icon-btn add-btn">
          <div class="add-icon"></div>
          <div class="btn-txt">Add</div>
        </button>
      </a>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>
  
<!-- <form class="time-example-form">
  <input class="time-input-string" [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="item.word">
  <div *ngFor="let word of item.words; let y = index">
    <label class="time-example-label">
      <input type="text" class='time-input-string' name="text"
        (change)='chengeInput($event, item.words, y)' (keyup.enter)='chengeInput($event, item.words, y)'
        [value]="word">
      <button class="icon-btn add-btn">
        <div class="btn-txt">Kill</div>
      </button>
    </label>
  </div>
  <a (click)='addSpeech(item.words)'>
    <button class="icon-btn add-btn">
      <div class="add-icon"></div>
      <div class="btn-txt">Add</div>
    </button>
  </a>
</form> -->
