.time-modal{
    &-button {
      position: absolute;
      right: -70px;
      
      &-add {
        width: 47px;
        height: 47px;
      }
      &-delete {
        position: absolute;
        left: 1em;
        bottom: 1em;
        padding: .5em;
        border-radius: 4px;
        background: transparent;
        border: 0;
        background-color: rgb(243, 64, 10);
        font-size: .8em;
        transition: all .3s ease;

        &:hover{
          background-color: rgb(255, 0, 0);
        }
        
      }

        &-save {
            position: absolute;
            left: 1rem;
        }
    }
    
    &-input {
        border: 0;
        border-bottom: 1px dotted darkblue;
        margin: 12px 0;
        width: 100%;

        &-title {
          width: 100%;
          border: 1px solid deeppink;
          border: 0;
          border-bottom: 2px solid rgb(32, 35, 214);
          margin-bottom: 1rem;
        }
      }
}