<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p></p>
  <div *ngFor="let word of data.words; let i = index">
    <input type="text" class='time-input-string' name="text"
      (change)='chengeInput($event, data.words, i)' 
      (keyup.enter)='chengeInput($event, data.words, i)'
      [value]="word">
    <button class="icon-btn add-btn time-modal-button">
      <span class="btn-txt">Kill</span>
    </button>
  </div>
  <a (click)='addSpeech(data.words)'>
    <button class="icon-btn add-btn">
      <div class="add-icon"></div>
      <div class="btn-txt">Add</div>
    </button>
  </a>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>
