<div class="container time-wrapper">
  <h2 class="time-headline">
    Table times
  </h2>
  <table class="time" *ngIf='dataTime'>
    <tr class="time-line">
      <td>
        &#9731;
      </td>
      <td>
        Indefinite
      </td>
      <td>
        Continuous
      </td>
      <td>
        Pefrect
      </td>
      <td>
        Perfect Continuous
      </td>
    </tr>
    <tr class="time-item">
      <td class="time-column-name">
        Future
      </td>
      <td class="time-item">
        <div class="time-big">WILL</div>
        <div *ngFor="let item of dataTime.future.indefinite; let i = index">
            <div class='time-speech-wrapper'>
            <label class='time-label'>
              <input class="time-speech-input" name="time-speech-input" type="radio">
              <input class="time-move-input" type="text" [disabled]='!item.disabled' [(ngModel)]="item.word">
              <span class="spanChange" (click)='item.disabled = !item.disabled'>change</span>
              <form class="time-example-form">
                <div *ngFor="let word of item.words; let y = index">
                    <input type="text" class='time-input-string' name="text" (change)='chengeInput($event, item.words, y)' (keyup.enter)='chengeInput($event, item.words, y)' [value]="word">
                </div>
                <a (click)='addSpeech(item.words)' class="btn btn-sm btn-info mr-4 time-form-button">Add</a>
              </form>
            </label>
          </div>
        </div>
        <div class="time-footer"> if, when, till.....</div>
      </td>
      <td class="time-item">
        <div class="time-big">WILL</div>
        <div *ngFor="let item of dataTime.future.continuous; let i = index">
          <div class='time-speech-wrapper'>
            <label class='time-label'>
              <input class="time-speech-input" type="checkbox">
              <span>{{item.word}}</span>
              <form class="time-example-form">
                <div *ngFor="let word of item.words; let y = index">
                  <input type="text" class='time-input-string' name="text" (change)='chengeInput($event, item.words, y)' (keyup.enter)='chengeInput($event, item.words, y)' [value]="word">
                </div>
                <a (click)='addSpeech(item.words)' class="btn btn-sm btn-info mr-4 time-form-button">Add</a>
                
              </form>
            </label>
          </div>
        </div>
        <div class="time-footer"> if, when, till.....</div>
      </td>
      <td class="time-item">
        <div class="time-big">WILL</div>
        <div *ngFor="let item of dataTime.future.prefect; let i = index">
          <div class='time-speech-wrapper'>
            <label class='time-label'>
              <input class="time-speech-input" type="checkbox">
              <span>{{item.word}}</span>
              <form class="time-example-form">
                <div *ngFor="let word of item.words; let y = index">
                  <input type="text" class='time-input-string' name="text" (change)='chengeInput($event, item.words, y)' (keyup.enter)='chengeInput($event, item.words, y)' [value]="word">
                </div>
                <a (click)='addSpeech(item.words)' class="btn btn-sm btn-info mr-4 time-form-button">Add</a>
                
              </form>
            </label>
          </div>
        </div>
        <div class="time-footer"> if, when, till.....</div>
      </td>
      <td class="time-item">
        <div class="time-big">WILL</div>
        <div *ngFor="let item of dataTime.future.indefinite; let i = index">
          <div class='time-speech-wrapper'>
            <label class='time-label'>
              <input class="time-speech-input" type="checkbox">
              <span>{{item.word}}</span>
              <form class="time-example-form">
                <div *ngFor="let word of item.words; let y = index">
                  <input type="text" class='time-input-string' name="text" (change)='chengeInput($event, item.words, y)' (keyup.enter)='chengeInput($event, item.words, y)' [value]="word">
                </div>
                <a (click)='addSpeech(item.words)' class="btn btn-sm btn-info mr-4 time-form-button">Add</a>
                
              </form>
            </label>
          </div>
        </div>
        <div class="time-footer"> if, when, till.....</div>
      </td>
    </tr>
    <tr>
      <td class="time-column-name">
        Present
      </td>
      <td class="time-item">
        <div class="time-big">WILL</div>
        <div *ngFor="let item of dataTime.future.indefinite; let i = index">
          <div class='time-speech-wrapper'>
            <label class='time-label'>
              <input class="time-speech-input" type="checkbox">
              <span>{{item.word}}</span>
              <form class="time-example-form">
                <div *ngFor="let word of item.words; let y = index">
                  <input type="text" class='time-input-string' name="text" 
                  (change)='chengeInput($event, item.words, y)' 
                  (keyup.enter)='chengeInput($event, item.words, y)' [value]="word">
                </div>
                <a (click)='addSpeech(item.words)' class="btn btn-sm btn-info mr-4 time-form-button">Add</a>
                
              </form>
            </label>
          </div>
        </div>
        <div class="time-footer"> if, when, till.....</div>
      </td>
      <td class="time-item">
        <div class="time-big">WILL !!!!!!!!!!!!!</div>
        <div *ngFor="let item of dataTime.future.indefinite; let i = index">
          <div class='time-speech-wrapper'>
            <label class='time-label'>
              <input class="time-speech-input" type="checkbox">
              <span>{{item.word}}</span>
              <form class="time-example-form">
                <div *ngFor="let word of item.words; let y = index">
                  <input type="text" class='time-input-string' name="text" (change)='chengeInput($event, item.words, y)' (keyup.enter)='chengeInput($event, item.words, y)' [value]="word">
                </div>
                <a (click)='addSpeech(item.words)' class="btn btn-sm btn-info mr-4 time-form-button">Add</a>
                
              </form>
            </label>
          </div>
        </div>
        <div class="time-footer"> if, when, till.....</div>
      </td>
      <td class="time-item">
        <div class="time-big">WILL</div>
        <div *ngFor="let item of dataTime.future.indefinite; let i = index">
          <div class='time-speech-wrapper'>
            <label class='time-label'>
              <input class="time-speech-input" type="checkbox">
              <span>{{item.word}}</span>
              <form class="time-example-form">
                <div *ngFor="let word of item.words; let y = index">
                  <input type="text" class='time-input-string' name="text" (change)='chengeInput($event, item.words, y)' (keyup.enter)='chengeInput($event, item.words, y)' [value]="word">
                </div>
                <a (click)='addSpeech(item.words)' class="btn btn-sm btn-info mr-4 time-form-button">Add</a>
                
              </form>
            </label>
          </div>
        </div>
        <div class="time-footer"> if, when, till.....</div>
      </td>
      <td class="time-item">
        <div class="time-big">WILL</div>
        <div *ngFor="let item of dataTime.future.indefinite; let i = index">
          <div class='time-speech-wrapper'>
            <label class='time-label'>
              <input class="time-speech-input" type="checkbox">
              <span>{{item.word}}</span>
              <form class="time-example-form">
                <div *ngFor="let word of item.words; let y = index">
                  <input type="text" class='time-input-string' name="text" (change)='chengeInput($event, item.words, y)' (keyup.enter)='chengeInput($event, item.words, y)' [value]="word">
                </div>
                <a (click)='addSpeech(item.words)' class="btn btn-sm btn-info mr-4 time-form-button">Add</a>
                
              </form>
            </label>
          </div>
        </div>
        <div class="time-footer"> if, when, till.....</div>
      </td>
    </tr>
    <tr>
      <td class="time-column-name">
        Past
      </td>
     <td class="time-item">
        <div class="time-big">WILL</div>
        <div *ngFor="let item of dataTime.future.indefinite; let i = index">
          <div class='time-speech-wrapper'>
            <label class='time-label'>
              <input class="time-speech-input" type="checkbox">
              <span>{{item.word}}</span>
              <form class="time-example-form">
                <div *ngFor="let word of item.words; let y = index">
                  <input type="text" class='time-input-string' name="text" (change)='chengeInput($event, item.words, y)' (keyup.enter)='chengeInput($event, item.words, y)' [value]="word">
                </div>
                <a (click)='addSpeech(item.words)' class="btn btn-sm btn-info mr-4 time-form-button">Add</a>
                
              </form>
            </label>
          </div>
        </div>
        <div class="time-footer"> if, when, till.....</div>
      </td>
      <td class="time-item">
        <div class="time-big">WILL</div>
        <div *ngFor="let item of dataTime.future.indefinite; let i = index">
          <div class='time-speech-wrapper'>
            <label class='time-label'>
              <input class="time-speech-input" type="checkbox">
              <span>{{item.word}}</span>
              <form class="time-example-form">
                <div *ngFor="let word of item.words; let y = index">
                  <input type="text" class='time-input-string' name="text" (change)='chengeInput($event, item.words, y)' (keyup.enter)='chengeInput($event, item.words, y)' [value]="word">
                </div>
                <a (click)='addSpeech(item.words)' class="btn btn-sm btn-info mr-4 time-form-button">Add</a>
                
              </form>
            </label>
          </div>
        </div>
        <div class="time-footer"> if, when, till.....</div>
      </td>
      <td class="time-item">
        <div class="time-big">WILL</div>
        <div *ngFor="let item of dataTime.future.indefinite; let i = index">
          <div class='time-speech-wrapper'>
            <label class='time-label'>
              <input class="time-speech-input" type="checkbox">
              <span>{{item.word}}</span>
              <form class="time-example-form">
                <div *ngFor="let word of item.words; let y = index">
                  <input type="text" class='time-input-string' name="text" (change)='chengeInput($event, item.words, y)' (keyup.enter)='chengeInput($event, item.words, y)' [value]="word">
                </div>
                <a (click)='addSpeech(item.words)' class="btn btn-sm btn-info mr-4 time-form-button">Add</a>
                
              </form>
            </label>
          </div>
        </div>
        <div class="time-footer"> if, when, till.....</div>
      </td>
      <td class="time-item">
        <div class="time-big">WILL</div>
        <div *ngFor="let item of dataTime.future.indefinite; let i = index">
          <div class='time-speech-wrapper'>
            <label class='time-label'>
              <input class="time-speech-input" type="checkbox">
              <span>{{item.word}}</span>
              <form class="time-example-form">
                <div *ngFor="let word of item.words; let y = index">
                  <input type="text" class='time-input-string' name="text" (change)='chengeInput($event, item.words, y)' (keyup.enter)='chengeInput($event, item.words, y)' [value]="word">
                </div>
                <a (click)='addSpeech(item.words)' class="btn btn-sm btn-info mr-4 time-form-button">Add</a>
                
              </form>
            </label>
          </div>
        </div>
        <div class="time-footer"> if, when, till.....</div>
      </td>
    </tr>
  </table>
</div>
