<div class="container time-wrapper">
  <h2 class="time-headline">
    Table times
  </h2>
  <!-- <table class="time" *ngIf='dataTime'> -->
  <table class="time" *ngIf='dataTime'>
    <tr class="time-title">
      <td>
        &#9731;
      </td>
      <td class="time-title">
        Indefinite
      </td>
      <td class="time-title">
        Continuous
      </td>
      <td class="time-title">
        Pefrect
      </td>
      <td class="time-title">
        Perfect Continuous
      </td>
    </tr>
    <tr>
      <td class="time-title">
        Future
      </td>
      <td class="time-item">
        <div class="time-big">WILL</div>
        <button type="button" class="time-button-add"
          (click)="addString(dataTime.future.indefinite)">
            Add
        </button>
        <div *ngFor="let item of dataTime.future.indefinite; let i = index">
          <button type="button" class="time-button" 
          (click)="openModalWithComponent(item)">
              {{item.word}}
              <button type="button" class="time-button-delete-me" 
                (click)="deleteGroup(dataTime.future.indefinite, i)"> delME
              </button>
          </button>
        </div>
      </td>
      <td class="time-item">
        <div class="time-big">WILL</div>
        <button type="button" class="time-button-add"
        (click)="addString(dataTime.future.continuous)">
          Add
      </button>
        <div *ngFor="let item of dataTime.future.continuous; let i = index">
          <button type="button" class="time-button" 
          (click)="openModalWithComponent(item)">
            {{item.word}}

            <button type="button" class="time-button-delete-me" 
              (click)="deleteGroup(dataTime.future.continuous, i)"> delME
            </button>
          </button>
        </div>
      </td>
      <td class="time-item">
        <div class="time-big">WILL</div>
        <button type="button" class="time-button-add"
        (click)="addString(dataTime.future.prefect)">
          Add
      </button>
        <!-- TODO -->
        <div *ngFor="let item of dataTime.future.prefect; let i = index">
          <button type="button" class="time-button" 
          (click)="openModalWithComponent(item)">{{item.word}}</button>
        </div>
      </td>
      <td class="time-item">
        <div class="time-big">WILL</div>
        <button type="button" class="time-button-add"
        (click)="addString(dataTime.future.perfectContinuous)">
          Add
      </button>
        <div *ngFor="let item of dataTime.future.perfectContinuous; let i = index">
          <button type="button" class="time-button" 
          (click)="openModalWithComponent(item)">{{item.word}}</button>
        </div>
      </td>
    </tr>
    <tr>
      <td class="time-title">
        Present
      </td>
      <td class="time-item">
        <div *ngFor="let item of dataTime.present.indefinite; let i = index">
          <button type="button" class="time-button" 
          (click)="openModalWithComponent(item)">{{item.word}}</button>
        </div>
      </td>
      <td class="time-item">
        <div *ngFor="let item of dataTime.present.continuous; let i = index">
          <button type="button" class="time-button" 
          (click)="openModalWithComponent(item)">{{item.word}}</button>
        </div>
      </td>
      <td class="time-item">
        <div *ngFor="let item of dataTime.present.perfect; let i = index">
          <button type="button" class="time-button" 
          (click)="openModalWithComponent(item)">{{item.word}}</button>
        </div>
      </td>
      <td class="time-item">
        <div *ngFor="let item of dataTime.present.perfectContinuous; let i = index">
          <button type="button" class="time-button" 
          (click)="openModalWithComponent(item)">{{item.word}}</button>
        </div>
      </td>
    </tr>
    <tr>
      <td class="time-title">
        Past
      </td>
      <td class="time-item">
        <div *ngFor="let item of dataTime.past.indefinite; let i = index">
          <button type="button" class="time-button" 
          (click)="openModalWithComponent(item)">{{item.word}}</button>
        </div>
      </td>
      <td class="time-item">
        <div *ngFor="let item of dataTime.past.continuous; let i = index">
          <button type="button" class="time-button" 
          (click)="openModalWithComponent(item)">{{item.word}}</button>
        </div>
      </td>
      <td class="time-item">
        <div *ngFor="let item of dataTime.past.perfect; let i = index">
          <button type="button" class="time-button" 
          (click)="openModalWithComponent(item)">{{item.word}}</button>
        </div>
      </td>
      <td class="time-item">
        <div *ngFor="let item of dataTime.past.perfectContinuous; let i = index">
          <button type="button" class="time-button" 
          (click)="openModalWithComponent(item)">{{item.word}}</button>
        </div>
      </td>
    </tr>
  </table>
</div>
