

.time {
  border: 2px solid rgb(27, 41, 15);
  width: 100%;

  &-wrapper {
    max-width: 1600px;

    @media (min-width: 768px) {
      padding-top: 90px;      
    }
    min-height: 80vh;
  }

  &-title {
    border-top: 1px solid rgb(27, 41, 15);
    border-left: 1px solid rgb(27, 41, 15);
    padding: 1rem;

  }

  &-item {
    border: 1px solid rgb(27, 41, 15);
    vertical-align: top;
    padding: 1rem .5rem;

  }

  &-big {
    color: coral;
    font-weight: 700;
  }

  &-button {
    background: transparent;
    margin: 3px;
    border: 0;
    border-bottom: 1px solid rgb(146, 146, 252);
  }
}